.venv/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

__pycache__/
.DS_Store

# Scene files
*.blend
*.blend1
scenes/**/*.ply
scenes/**/*.obj
scenes/**/*.xml

# Data directories
data/
cache/
overpass/

# Logs and temporary files
*.ply
*.png
*.exr
*.log
*.out


# Polyscope / Dear ImGui
.polyscope.ini
imgui.ini


# Tests: data files
test/*.npz
